
@{
    ViewBag.Title = "Forbidden";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2> <strong>Forbidden</strong> </h2> <br />
This is a general error message. The attempted operation is forbidden. <br /><br />

<body 
      background="~/Content/forbiddenimage.jpg">
</body>

