@model Asp.net_MVC_TestpreparationAppDemo.Models.DualDatabaseTestSchemeTest
@{
    ViewBag.Title = "AddNewQuestion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AddNewQuestion</h2>



<br />
@using (Html.BeginForm("AddNewQuestionAction", "DualDatabaseTestSchemeQuestions"))
{
<fieldset>
    <input type="text" name="id" value=@ViewBag.ID /> <br />
    <input type="text" name="question" value="Blank" /> Your Question <br />
    <input type="text" name="answer" value="Blank" /> Your Answer<br />
    <input type="text" name="optionb" value="Blank" /> Your first other option<br />
    <input type="text" name="optionc" value="Blank" /> Your second other option<br />
    <input type="text" name="optiond" value="Blank" /> Your third other option<br />
    <br />
    <input type="submit" value="Submit" />
    <br />
</fieldset>
}


