@{
    ViewBag.Title = "Home Page";
}

<h1>Welcome to Test Land!</h1>
This web app using ASP.NET MVC 5 allows users to create custom quizes online. Users can create questions (and tests) and then take the test themselves, or share creations with other users. The goal of this project is to create an environment to help adult test takers prepare for examinations (MCAT, GRE, SAT, BCBA, etc).
<br />

