<h1>Something went wrong!</h1>

<p>You probably didnt have an option clicked when you pressed on submit, or some other error has occured. You should use the back button.</p>

@{
    ViewBag.Title = "errorpage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



