

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Quizbank</h3>
<br />
<p>Currently two official quizes are being offered:</p>
<ol>
    <li> @Html.ActionLink("MockExam using Nietzsche Ipsum", "TestQuiz", "Quizbank") </li>
    <li> @Html.ActionLink("BCaBA Terms Exam", "CustomTestPreFormatting", "DualDatabaseTestSchemeQuestions", new { searchid = 7 }, null)</li>
    
</ol>

<br /><br />
<p>Each assessment is 10 questions long, and pulls randomly from a question bank of 100 questions. This will be the format for all of the assessments.</p>
<br />
Additional tests can be accessed at @Html.ActionLink("All Tests", "AllTests", "DualDatabaseTestSchemeTests"). You can either access all custom tests there by clicking "take test", or by using the form below with the Id of your test which can be found there:








