
@{
    ViewBag.Title = "CustomTestPreFormatting";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CustomTestPreFormatting</h2>
This should not be visible.
<br />
Questions Selected:
<em>Count: @ViewBag.count</em>

